<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="http://10.122.79.130:3000/d/2HkN41QVz/data-table?orgId=1&from=1698360913200&to=1698382513200">
        <div>
            <h1 style="background-color: 'rgb(252, 12, 4)';">Data Logger</h1>
        </div>
    </a>
    
</body>
</html>