<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="header">
        <a href="/admin_page">Home</a>
        <a href="/admin_page/master_main">Master Main</a>
        <a href="/admin_page/master_setting">Master Setting</a>
        <a href="/admin_page/receive_scan_master">Receive Scan</a>
        <a href="/logout">Logout</a>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>QR PACKING LIST</th>
                </tr>
            </thead>
            <tbody>
                <% let count = 0; %>
                <% qr_packingList.forEach((row) => { %>
                    <% count++; %>
                <tr>
                    <td><%= count %></td>
                    <td><%= row.qr_packingList %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>