<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="header">
        <a href="/admin_page">Home</a>
        <a href="/admin_page/master_main">Master Main</a>
        <a href="/admin_page/master_setting">Master Setting</a>
        <a href="/admin_page/receive_scan_master">Receive Scan</a>
        <a href="/dnth_data">DNTH Data</a>
        <a href="/pc_page">PC Page</a>
        <a href="/prod_page">PD Page</a>
        <a href="/logout">Logout</a>
    </div>

    <div>
        <h1>Scan QR Master Packing List</h1>
    </div>

    <div>
        <form action="/prod_page/inputing" method="POST">
            <label for="qr_prod" class="form-control" name="qr_prod">QR QR Production</label>
            <input type="text" id="qr_prod" class="v form-control mb-3" name="qr_prod">
            <label for="date_in_prod" class="date_in_prod" name="date_in_prod">Production Date IN</label>
            <input type="text" id="date_in_prod" class="date_in_prod form-control mb-3" name="date_in_prod" readonly>
            <label for="time_in_prod" class="time_in_prod" name="time_in_prod">Production Time IN</label>
            <input type="text" id="time_in_prod" class="time_in_prod form-control mb-3" name="time_in_prod" readonly>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <hr>

    <h2>Production Detail Table</h2>
    

    <script>
        document.getElementById('qr_prod').addEventListener('input', function () {
            const qrProdValue = this.value;
            const dateInProdInput = document.getElementById('date_in_prod');
            const timeInProdInput = document.getElementById('time_in_prod');

            if (qrProdValue.length >= 3) {
                const currentDate = new Date();
                const currentYear = currentDate.getFullYear();
                const currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                const currentDay = String(currentDate.getDate()).padStart(2, '0');
                const currentHours = String(currentDate.getHours()).padStart(2, '0');
                const currentMinutes = String(currentDate.getMinutes()).padStart(2, '0');
                const currentSeconds = String(currentDate.getSeconds()).padStart(2, '0');

                dateInProdInput.value = `${currentYear}-${currentMonth}-${currentDay}`;
                timeInProdInput.value = `${currentHours}:${currentMinutes}:${currentSeconds}`;
            } else {
                dateInProdInput.value = '';
                timeInProdInput.value = '';
            }
        });
    </script>
    
</body>
</html>