<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/admin_page">Home</a>
        <a href="/admin_page/master_main">Master Main</a>
        <a href="/admin_page/master_setting">Master Setting</a>
        <a href="/admin_page/receive_scan_master">Receive Scan</a>
        <a href="/dnth_data">DNTH Data</a>
        <a href="/pc_page">PC Page</a>
        <a href="/prod_page">PD Page</a>
        <a href="/logout">Logout</a>
    </div>

    <div>
        <h1>QR Production Details</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>QR PACKING IN</th>
                <th>QR KANBAN IN</th>
                <th>PART NUMBER</th>
                <th>QTY</th>
                <th>QR PRODUCTION</th>
            </tr>
        </thead>
        <tbody>
            <% 
        </tbody>
    </table>
    
</body>
</html>